# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/rsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# alias
# https://stackoverflow.com/questions/3446320/in-vim-how-to-map-save-to-ctrl-s
alias vim="stty -ixon && vim -v"
alias valiases="vim ~/.aliases"
alias vzshrc="vim ~/.zshrc"
alias szshrc="source ~/.zshrc"
alias iek="ike"
alias gith="cd $HOME/git"
alias infr="gith && cd docker/infrakit"
alias dike="cd $HOME/git/docker; echo Branch: ; git branch | grep \* | cut -d ' ' -f2; cd -; $HOME/git/docker/ike/ike.js"
alias mr="cd $HOME/git/onelogin.com"
alias cr="cd $HOME/git/core-api"
alias qm="cd $HOME/git/queued-messages-relay"
alias ds="cd $HOME/git/directory-service"
alias en="cd $HOME/git/core-api-mapping-engine"
alias gg="git pull"


# path
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=$HOME/.node/bin:$PATH
export PATH=/Applications/MacVim.app/Contents/bin:$PATH
export PATH="/usr/local/opt/ruby/bin:$PATH"
export PATH="$HOME/Downloads/platform-tools:$PATH"

alias rmldp="rm -rf vendor/bundle/specifications/ruby-ldap-*; rm -rf vendor/bundle/cache/ruby-ldap-*; rm -rf vendor/bundle/gems/ruby-ldap-*"

alias bastion="ssh bastionhostnonprod.onlgn.net -p 23222"
alias shcons="ssh api01.use1.shadow01.onlgn.net -t 'sudo -i -u deploy bash -c \"cd /srv/onelogin_new/current && bundle exec script/console shadow\"'"

# Rails
alias b="bundle"
alias s="spring rspec"
alias r="rubocop"
alias be="bundle exec"
# alias cons="bin/console"
alias server="bin/server"
alias bgwk="bin/worker"

# Ag
alias agls="ag -l --hidden -g "
find_and_replace_with_ag() {
  ag -l "$1" | xargs sed -i '' -e "s/$1/$2/g"
}
alias agrp=find_and_replace_with_ag
alias ikeupdate="npm install -g @onelogin/infrakit"
alias cpwd="pwd | pbcopy"

function ike_current_project {
  ike_run_path=`basename "$PWD"`
  if [[ $ike_run_path == "onelogin.com" ]]; then
    ike_run_path='monorail-admin'
  elif [[ $ike_run_path == "onelogin-provisioning" ]]; then
    ike_run_path='provisioning-worker'
  fi
  echo $ike_run_path
}

export IKE_HOME="$HOME/git/docker/ike"

function cons {
  if [[ -f "script/console" ]]; then
    cons_cmd="script/console"
  elif [[ -f "bin/console" ]]; then
    cons_cmd="bin/console"
  else
    cons_cmd="rails c"
  fi

  cmd="ike run $(ike_current_project) --dev 'bundle exec $cons_cmd'"
  echo $cmd
  sh -c $cmd
}

function spec {
  if [[ -f "bin/rspec" ]]; then
    spec_cmd="bin/rspec"
  elif [[ -f "script/spec" ]]; then
    spec_cmd="script/spec"
  else
    spec_cmd="rspec"
  fi
  cmd="ike run $(ike_current_project) --dev 'bundle exec $spec_cmd ${@:1}'"
  echo $cmd
  sh -c $cmd
}

function run {
  cmd="$IKE_HOME/ike.js run $(ike_current_project) --dev '${@:1}'"
  echo $cmd
  sh -i -c $cmd
}

function enter {
  cmd="$IKE_HOME/ike.js run $(ike_current_project) --dev '/bin/bash'"
  echo $cmd
  sh -i -c $cmd
}

function logs {
  cmd="$IKE_HOME/ike.js logs -f $(ike_current_project)"
  echo $cmd
  sh -i -c $cmd
}

function rcp {
  cmd="ditto $1 /Users/romantomkiv/git/core-api-mapping-engine/$1"
  echo $cmd
  sh -i -c $cmd
}


alias d2="cd ~/.wine_d2/drive_c/Program\ Files/diablo\ ii/mod\ plugy && WINEPREFIX=~/.wine_d2 wine plugy.exe -3dfx -txt"
alias ak="ssh-add ~/.ssh/gitmbp13"
alias al="ssh-add ~/.ssh/git_mbp"

alias dbus="pgcli -h prod-db-master-admin-01.usw2.onlgn.net -U rtomkiv -d onelogin_production"
alias dbeu="pgcli -h prod-db-master-admin-01.euc1.onlgn.net -U rtomkiv -d onelogin_production_eu"
alias dbusbi="pgcli -h bidb.usw2.onlgn.net -U rtomkiv -d onelogin_production"
alias dbeubi="pgcli -h bidb02.euc1.onlgn.net -U rtomkiv -d onelogin_production_eu"
alias ike="$IKE_HOME/ike.js"

alias sync="source $HOME/dotfiles/sync.sh"
